@keyframes showImage {
  from {
    transform: scale(0);

    opacity: 0;
    background: #5470b0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.__tokenTag {
  border-radius: 3px;
  box-sizing: content-box;
  cursor: pointer;
  display: none;
  height: 21px;
  padding-right: 0px;
  position: absolute;
  text-align: center;
  pointer-events: none;
  transition-property: padding-right, top;
  transition-duration: 250ms, 25ms;
  transition-timing-function: linear, cubic-bezier(0, 1.65, 0, 1.65);
  z-index: 1000;
}

.__tokenTag.__topTrimmed {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.__tokenTag.__bottomTrimmed {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.__tokenWrapperActive .__tokenTag,
.__tokenTag.__selected,
.__tokenTag.__arrowHovered,
.__tokenTag.__isOpen {
  padding-right: 20px;
}

.__tokenTag.__topTrimmed {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-right: 0;
}

.__tokenTag.__bottomTrimmed {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0;
}

.__tokenTag.imageNotFound,
.__tokenTag.__disabled {
  display: block;
  border: solid 1px rgba(209, 213, 217, 0.6);
  background-color: rgba(246, 248, 250, 0.5);
}

.__tokenTag.imageFound {
  display: block;
  border: solid 1px #ddd69b;
  background-color: rgba(255, 245, 177, 0.5);
}

.__tokenTag.__disabled {
  opacity: 0.3;
}

.__tokenTagArrow {
  border-radius: 2px;
  background-color: rgba(255, 245, 177);
  border: solid 1px #ccc58b;
  cursor: pointer;
  display: none;
  height: 12px;
  pointer-events: all;
  right: 4px;
  position: absolute;
  top: 4px;
  width: 12px;
}

.__tokenWrapperActive .__tokenTag .__tokenTagArrow,
.__tokenTag.__selected .__tokenTagArrow,
.__tokenTag.__isOpen .__tokenTagArrow {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

.__tokenTag.__arrowHovered .__tokenTagArrow {
  display: block;
}

.__tokenTag.__topTrimmed,
.__tokenTag.__bottomTrimmed {
  padding-right: 0;
}

.__tokenTag.__topTrimmed {
  border-top: 0px;
}

.__tokenTag.__bottomTrimmed {
  border-bottom: 0;
}

.__tokenTag.__topTrimmed .__tokenTagArrow,
.__tokenTag.__bottomTrimmed .__tokenTagArrow {
  display: none;
}

.__tokenTagArrow:hover {
  border: solid 1px #656b6f;
}

.__tokenTagArrow .__inner {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #656b6f;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  width: 0;
}

.__tokenTagModal {
  animation: showImage 0.3s ease-in-out;
  background-color: #ffffff;
  /* border: 1px solid #bfc1c3; */
  border-radius: 12px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07),
    0 15px 35px 0 rgba(50, 50, 93, 0.1);
  color: black;
  display: flex;
  flex-direction: column;

  bottom: 26px;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  pointer-events: all;
  text-align: center;
  transform-origin: bottom left;
  width: 324px;
}

.__tokenTagModal.__fixed {
  transform-origin: top right;
  bottom: auto;
  top: -73px;
  left: -340px;
}

.__tokenTagModal .__image {
  box-sizing: border-box;
  display: inline-block;
  height: 109px;
  position: relative;
  overflow: hidden;
  width: 162px;
}

.__tokenTagModal .__image img.__memeImage {
  float: left;
  transition: opacity 0.3s linear, transform 1s linear;
  opacity: 0.6;
  position: absolute;
}

.__tokenTagModal .__image.__selected {
  border: 2px solid white;
}

.__tokenTagModal .__image.__expanded {
  left: 0;
  overflow: visible;
  position: absolute;
  top: 0;
}

.__tokenTagModal .__image.__expanded img.__memeImage {
  transition: none;
}

.__tokenTagModal .__image.__expanded ~ .__image {
  visibility: hidden;
}

.__tokenTagModal .__image img.__memeImage.__loaded {
  opacity: 1;
  position: relative;
}

.__tokenTagModal.__disabled .__tokenTagModalImages {
  opacity: 0.3;
}

.__tokenTagModal .__selectButton {
  border-radius: 100%;
  right: 10px;
  position: absolute;
  top: 10px;
}

.__tokenTagModal .__selectButton.__unselected {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid white;
  height: 18px;
  position: absolute;
  top: 10px;
  width: 18px;
}

.__tokenTagModal .__selectButton.__selected {
  height: 20px;
  width: 20px;
}

.__tokenTagModal .__selectButton.__selected img {
  height: 100%;
  width: 100%;
}

.__tokenTagModal .__toggleExpandButton {
  background-color: transparent;
  border: none;
  display: none;
  height: 20px;
  left: 10px;
  padding: 0;
  position: absolute;
  top: 10px;
  width: 20px;
  z-index: 11;
}

.__tokenTagModal .__toggleExpandButton img {
  height: 100%;
  width: 100%;
}

.__tokenTagModal .__image.__loaded:hover .__toggleExpandButton {
  display: block;
}

.__tokenTagModal .__showAllImages {
  background-color: black;
  border: 2px solid white;
  border-radius: 100%;
  border-top-right-radius: 0;
  color: white;
  display: none;
  height: 24px;
  padding: 0;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
}

.__tokenTagModal.hasMultipleImages .__showAllImages {
  display: block;
}

.__tokenModalEmpty {
  color: #929496;
  font-size: 14px;
  padding: 20px;
}

.__tokenTagModalImages {
  flex: 1;
  font-size: 0;
  max-height: 266px;
  overflow-y: auto;
  position: relative;
}

.__tokenTagModalImages.__expanded {
  flex: none;
}

.__tokenTagModalImages.__expanded .__image {
  display: none;
}

.__tokenTagModalImages.__expanded .__image.__expanded {
  display: block;
}

.__tokenTagModalAddNew {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.__tokenTagModalAddNew .thirdPartySiteLinks a + a {
  margin-left: 16px;
}

.__tokenTagModalButtons {
  border-top: 1px solid #bfc1c3;
  height: 38px;
}

.__tokenTagModalButtons ._attribution {
  color: #24292d;
  float: left;
  font-size: 14px;
  letter-spacing: -0.15px;
  margin-left: 14px;
  margin-top: 6px;
  opacity: 0.5;
}

.__tokenTagModalButtons button,
.__tokenTagModal .loginButton {
  border: 0px;
  background: none;
  color: #0066d6;
  padding: 0;
}

.__tokenTagModalButtons button {
  margin-right: 6px;
  margin-top: 6px;
  float: right;
}

.__tokenTagModalButtons button + button {
  margin-right: 10px;
}

.__tokenTagModalButtons button:disabled {
  opacity: 0.6;
}

.loginMessage,
.donateMessage {
  font-size: 14px;
  padding: 8px;
}

.donateMessage {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 515.59 479.36'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-2%7Bstroke:%23000;stroke-miterlimit:10;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EShaneLogo%3C/title%3E%3Cg id='Layer_6' data-name='Layer 6'%3E%3Cpath d='M671.5,585.75C786.7,546.4,860.18,450.82,837,330.63,809.18,186.81,678.72,97.39,534.28,123.16,405,146.23,310.65,273.19,327.64,403.1c13.67,104.51,94.36,158,153.86,179.15,63,19,98.28,16.15,126.83,15C636.44,596.12,671.5,585.75,671.5,585.75Z' transform='translate(-325.66 -118.75)'/%3E%3C/g%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M665.3,500.23c51.25-20.14,84.32-47,93.33-100.82,6.44-38.54,4.32-75.8-19.41-109.2-1.8-2.53-2.27-6.95-1.62-10.13,4-19.88,1.9-39.26-3.84-58.42-4.33-14.46-12.54-20.84-27-16.45-18.29,5.55-35.54,14.47-53.47,21.34-6,2.31-13.11,4.78-19.16,3.8-37.52-6.12-74.83-7-112.27.48-3.72.73-8.55-.66-12-2.59-17.95-10.06-36.24-18.91-57-21.3-15.39-1.78-21.53,2-25.91,16.64-5.75,19.16-7.8,38.52-4.06,58.43a18.55,18.55,0,0,1-2.45,12c-31.77,51.29-27.68,103.15-.62,154.07,23,32.91,43,40.07,74.66,53.58,5,2.12,10.39,3,19,5.47a246.86,246.86,0,0,0,40.2,5.36c23.67,1.33,44.47,3.39,63,0C637.07,508.77,649.94,506.27,665.3,500.23Z' transform='translate(-325.66 -118.75)'/%3E%3C/g%3E%3Cg id='Layer_4' data-name='Layer 4'%3E%3Cpath class='cls-2' d='M589.25,300s10.25,25.26,10,35.15-4,18.88,1,27.13,16.5,26,21.5,30.75,14,9.25,19.38,15.75,11.75,10.39,14.74,10.65c13.79,1.23,25.38-5,25.38-5s9.75-7.84,11.5-16.25,5.67-11.75,9.17-16.75S711.5,366,711,361.5s-6.83-10.25-12.58-15.33-16.63-16.09-22.67-19.59c-6.33-3.66-7.5-4.77-16.12-13.89-3.78-4-12.44-13.94-12.44-13.94s-6.94-11.75-8.94-14S626.5,272.5,626.5,272.5s-4.75-3.75-6.75-8.5-5.12-12-5.12-12L618,279.25,609.75,265l-7.5-18.75s-3,17.25-2,18-1,15.5-1,15.5L593.5,266.5l-1.33,2.75-2.92-18.5L586,267.25l-.25,14.25-2.11,2.75L581,255.5V248l-5.5,13.5-1.75,19.25s-2.25-6.5-2.5-7.25,2.25-22.75,2.25-22.75l-2.27-3.5-7,11.25-2.62,16.25-1.88-18.5,1.88-11.75-12.38,19.75-4.58,13.5-4.92-17.25-4.5,11-13.6,11.25S503,301.5,500.5,303.5s-12.25,8.5-16.5,12-16.25,8-18.25,21-8.5,20-3.75,29.25,7.5,14,13.5,19.75,8,12.5,11.25,16.25,5,8.5,11.5,10,21.54,2.25,23.4.25,8.6-2.5,18.1-12.5,9-6.5,15.75-16.75,9.89-8.23,16-23.75c2.79-7.08.5-14.67,2.75-26.84s1.73-8.59,4.39-17.16c2.42-7.84,2.26-8.42,2.36-12.19l1.43,13.34,2.83-11.4.4,13.25Z' transform='translate(-325.66 -118.75)'/%3E%3Cpath class='cls-2' d='M589.13,299.92s10.25,25.27,10,35.15-4,18.88,1,27.13,16.5,26,21.5,30.75,14,9.25,19.37,15.75,11.76,10.39,14.75,10.66c13.78,1.22,25.38-5,25.38-5s9.75-7.83,11.5-16.25,5.66-11.75,9.16-16.75,9.59-15.42,9.09-19.92S704,351.2,698.29,346.12,681.66,330,675.63,326.54c-6.34-3.67-7.5-4.77-16.13-13.9-3.77-4-12.44-13.94-12.44-13.94s-6.93-11.75-8.93-14-11.75-12.25-11.75-12.25-4.75-3.75-6.75-8.5-5.13-12-5.13-12l3.38,27.25L609.63,265l-7.5-18.75s-3,17.25-2,18-1,15.5-1,15.5l-5.75-13.25L592,269.2l-2.91-18.5-3.25,16.5-.25,14.25-2.12,2.75-2.63-28.75V248l-5.5,13.5-1.75,19.25s-2.25-6.5-2.5-7.25,2.25-22.75,2.25-22.75l-2.27-3.5-7,11.25L561.5,274.7l-1.87-18.5,1.87-11.75L549.13,264.2l-4.58,13.5-4.92-17.25-4.5,11L521.52,282.7s-18.64,18.75-21.14,20.75-12.25,8.5-16.5,12-16.25,8-18.25,21-8.5,20-3.75,29.25,7.5,14,13.5,19.75,8,12.5,11.25,16.25,5,8.5,11.5,10,21.54,2.25,23.39.25,8.61-2.5,18.11-12.5,9-6.5,15.75-16.75,9.88-8.23,16-23.75c2.79-7.08.5-14.67,2.75-26.83s1.73-8.6,4.38-17.17c2.43-7.84,2.26-8.42,2.36-12.18l1.43,13.34,2.83-11.4.41,13.24Z' transform='translate(-325.66 -118.75)'/%3E%3C/g%3E%3Cg id='Layer_8' data-name='Layer 8'%3E%3Cpath d='M444.33,222.33s-3,4.5-5,18c-2.45,16.42,2.41,33.34,2.41,33.34s.07,3.08,6.59,0c12.11-5.73,25-15.34,25-15.34s10.15-7.4,11.34-9.37c2.71-4.46,1.58-12.54,1.58-12.54s-16.43-10.09-24.34-12.09A84.51,84.51,0,0,0,444.33,222.33Z' transform='translate(-325.66 -118.75)'/%3E%3Cpath d='M676,243.33c.62,6,5.46,7,16,15.42,8.28,6.67,18.19,13.86,20.46,15.42,3,2,8.25,3.41,9.83,3.83,1.07.28,1.94-11.5,2-16.56a127,127,0,0,0-2.12-19.5c-.69-2.77-2.6-9.8-4.15-14.44a62.45,62.45,0,0,0-13.09,1.06,130.7,130.7,0,0,0-15.67,5S675.69,240.59,676,243.33Z' transform='translate(-325.66 -118.75)'/%3E%3C/g%3E%3Cg id='eyes'%3E%3Cpath class='cls-1' d='M674.25,347.75a26.85,26.85,0,0,0-12.25-7c-8.44-2.12-15.32.73-18.25,2-11.15,4.82-16,14.65-17.25,17.5a49.67,49.67,0,0,0,2,6.25c1,2.25,4.5,4.25,10.25,6.5s13.5,0,13.5,0,11-3.25,14.5-6S673,355.75,673,355.75Z' transform='translate(-325.66 -118.75)'/%3E%3Cpath class='cls-1' d='M494.33,340s5.17-6.49,17.34-4.49,16.16,2.67,24.16,7.17,8.84,10.66,8.84,10.66.33,7-3.34,8.84-9.5,5.5-15.5,6-18.16-2.5-26.33-10.5A18.31,18.31,0,0,1,494.33,340Z' transform='translate(-325.66 -118.75)'/%3E%3C/g%3E%3Cg id='Black_lines' data-name='Black lines'%3E%3Cpath d='M592.17,407.67c1.66-2.84,2-4.24,3.67-4.41s6-.8,6-.8l4-2.33,2.52-2s-4.91,6.75-5.41,7-4.61,2-6.23,2.1S592.17,407.67,592.17,407.67Z' transform='translate(-325.66 -118.75)'/%3E%3Cpath d='M576.55,408.54c0-.29-.1-2.17-3.17-3a38.69,38.69,0,0,0-4.88-1.06l-6.87-6.33,3.35,1.52a6.71,6.71,0,0,0,2.69,1.64,10.44,10.44,0,0,0,3.86.23,5.46,5.46,0,0,1,3.35.44c3,1.19,3.87,2.38,3.75,3.25s.17,1.91,0,2.26C578.25,408.19,577.44,408.32,576.55,408.54Z' transform='translate(-325.66 -118.75)'/%3E%3Cpath d='M551.58,443.33c1.5-1,5.28-7.94,12.88-15,2.2-1.69,12.52-5.71,13.27-6.11a12.08,12.08,0,0,1,5-1.09,40.19,40.19,0,0,1,6,.87l4.28,1.75,4.75,2.17,5.47,3.27a29.13,29.13,0,0,1,5.34,4.65c2.42,2.75,3.5,5.31,5.12,7a35,35,0,0,1,5.12,7.29,157.8,157.8,0,0,1-12.83-12c-3.59-4-4-3.38-7.11-5.1-4.36-2.44-6.37-3.75-6.37-3.75a37.42,37.42,0,0,0-6.77-1.57c-3.75-.5-9.87,1.87-11.87,2.12s-5.94,5.1-8.42,6.19S551.58,443.33,551.58,443.33Z' transform='translate(-325.66 -118.75)'/%3E%3Cpath d='M517,337.27a7.34,7.34,0,0,0-3.23,5.81,12.71,12.71,0,0,0,2.49,9.26,24.06,24.06,0,0,0,5.14,4.6,25.51,25.51,0,0,0,4.86-4.66,15.48,15.48,0,0,0,2.68-6.54,8.87,8.87,0,0,0-1-6.09,12,12,0,0,0-6.28-4.71A17.2,17.2,0,0,0,517,337.27Z' transform='translate(-325.66 -118.75)'/%3E%3Cpath d='M647,338.73c-2.35.81-5.28,4.61-5.89,7.55a11.45,11.45,0,0,0,.95,6.86,14.68,14.68,0,0,0,3.79,5.13c1.48,1.44,3.33,2.93,3.33,2.93a19.75,19.75,0,0,0,6.35-6.67,11.8,11.8,0,0,0,1.85-7,8.28,8.28,0,0,0-3.56-6.59A14.91,14.91,0,0,0,647,338.73Z' transform='translate(-325.66 -118.75)'/%3E%3C/g%3E%3Cg id='Layer_7' data-name='Layer 7'%3E%3Cpath d='M586.35,403.13a77.57,77.57,0,0,0-1.07,9,36,36,0,0,1-1.93,8.05c-.17.6-.32,1.1-.42,1.45l4.73.25C586.29,419.4,586.94,410.72,586.35,403.13Z' transform='translate(-325.66 -118.75)'/%3E%3Cpath d='M617.83,421.15c.44-.51,7.21,5.28,19,16.85,7.83,7.67,13.57,11.65,23.42,21.58,10.55,10.65,20.21,19.61,20.25,19.57S616.79,422.35,617.83,421.15Z' transform='translate(-325.66 -118.75)'/%3E%3Cpolygon points='313.18 304.33 337.84 316.25 356.68 327.75 378.84 336.33 382.76 337.5 363.26 329.25 346.93 320.08 332.93 312.67 320.34 306.67 313.18 304.33'/%3E%3Cpolygon points='301.34 304.65 325.26 317.99 342.63 330 353.19 337.96 366.27 349.02 348.61 332.63 334.11 322.35 320.56 314.12 308.36 307.39 301.34 304.65'/%3E%3Cpolygon points='204.75 299.79 179.9 311.7 170.84 316.75 154.84 323.75 135.97 328.63 154.22 322.29 170.75 315.54 184.85 308.12 197.53 302.12 204.75 299.79'/%3E%3Cpolygon points='213.59 298.5 192.58 313.44 175.07 325.45 164.44 333.42 136.97 342.75 169.05 328.08 183.66 317.8 197.75 308.91 207.63 301.81 213.59 298.5'/%3E%3Cpath d='M912,530.33' transform='translate(-325.66 -118.75)'/%3E%3Cpolygon points='221.18 305.71 212.82 311.58 199.87 319.44 186.81 329.28 171.09 339.55 166.05 344.38 158.8 350.67 166.43 345.04 173.31 339.32 188.79 329.53 199.97 321.3 221.18 305.71'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 32px;
  background-position: 4px 16px;
  background-repeat: no-repeat;
  padding-left: 40px;
  text-align: left;
}

.__imageSelector {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.__imageSelector a {
  background-color: white;
  border: 2px solid #bcbec0;
  display: inline-block;
  margin: 24px;
  padding: 15px;
  text-align: center;
  width: 280px;
}

.__imageSelector a img {
  max-width: 250px;
  max-height: 250px;
}

.__toolbarButton {
  position: relative;
}

.toolbar-item.__toolbarButtonItem {
  background-size: contain;
  height: 24px;
  margin-left: 8px;
  margin-top: 2px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  width: 24px;
}

.toolbar-item.__toolbarButtonItem.__active {
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
}

.__popupIframe {
  border: 0;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07),
    0 15px 35px 0 rgba(50, 50, 93, 0.1);
  width: 273px;
  height: 470px;
  position: absolute;
  top: -255px;
  left: -276px;
  z-index: 100;
  animation: fadeIn 0.6s ease-in-out;
}

textarea.__textareaHiddenText {
  color: transparent;
}
