@keyframes showImage {
  from {
    transform: scale(0);
    opacity: 0;
    background: #5470b0;
  }
}

.__tokenTag {
  width: 30px;
  border-bottom: green 2px solid;
  position: absolute;
  cursor: pointer;
  display: none;
}

.__tokenTag.imageNotFound {
  display: block;
  border-bottom-style: dashed;
}

.__tokenTag.imageFound {
  display: block;
  border-bottom-style: solid;
}

.__tokenTag.disabled {
  display: block;
  opacity: 0.3;
  border-bottom-style: dotted;
}

.__tokenTagThumbnail {
  animation: showImage 0.3s ease-in-out;
  border: 2px solid green;
  margin-top: -2px;
  max-width: 150px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  transform-origin: top left;
}

.__tokenTagThumbnail img {
  max-width: 150px;
  max-height: 150px;
  display: block;
}

.__tokenTagThumbnail.disabled {
  border-style: dotted;
}

.__tokenTagThumbnail.disabled img {
  opacity: 0.3;
}

.__tokenTagThumbnail button {
  border-top: 2px solid green;
  width: 100%;
}

.__tokenTagThumbnail.disabled button {
  border-top-style: dotted;
}

.__tokenTagThumbnail .__showAllImages {
  background-color: black;
  border: 2px solid white;
  border-radius: 100%;
  border-top-right-radius: 0;
  color: white;
  display: none;
  height: 24px;
  padding: 0;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
}

.__tokenTagThumbnail.hasMultipleImages .__showAllImages {
  display: block;
}
