.Header {
  background-color: #24292e;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 1.45rem;
  padding: 16px;
  z-index: 32;
}

.Header .Header-item {
  align-self: stretch;
  margin-right: 16px;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  font-size: 14px;
}

.Header .Header-item h1 {
  font-size: 14px;
}
