.installButton {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  background-position: -1px -1px;
  background-repeat: repeat-x;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.installButton:hover {
  background-color: #269f42;
  background-image: linear-gradient(-180deg, #2fcb53, #269f42 90%);
  background-position: -0.5em;
  border-color: rgba(27, 31, 35, 0.5);
}

.installButton:focus {
  box-shadow: 0 0 0 0.2em rgba(52, 208, 88, 0.4);
}
