html,
body {
  height: 470px;
  width: 273px;
}

html {
  overflow: hidden;
}
body {
  padding-bottom: 16px;
  overflow-y: auto;
}

@keyframes fadeInPopup {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App {
  animation: fadeInPopup 0.3s ease-in-out;
  background-color: #ffffff;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  width: 100%;
}
