.Help {
  background-color: #f9f9f9;
  color: #24292d;
  font-size: 13px;
  line-height: 1.43;
  letter-spacing: -0.15px;
  padding-bottom: 17px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 17px;
}
